<div class="player">
	
	<div class="meta-information">
		<div class="art"><img src="http://placehold.it/120x120/" /></div>
		<div class="song-information">
			<h1>Sun &amp; Moon (Distance Remix)</h1>
			<h2>Above &amp; Beyond (feat. Richard Bedford) Sun &amp; Moon</h2>
		</div>
	</div>
	<div class="controls">
		<ul>
			<li><a href="#" class="buttons-sprite buttons-play">Play</a></li>
			<li><a href="#" class="buttons-sprite buttons-previous">Previous</a></li>
			<li><a href="#" class="buttons-sprite buttons-next">Next</a></li>
		</ul>
	</div>
</div>